@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.first{
    display: flex;
}
.text{
    font-size:40px;
    font-family:'Roboto', sans-serif;
    margin-left: 180px;
}
.bag{
    width: 518px;
}